/**font-family: 'Playfair Display', serif; **/
/**font-family: 'Ubuntu', sans-serif;**/

body{

	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	font-family: 'Ubuntu', sans-serif;

}

/**Header Start**/
header{
	padding: 10px 0;
	
	

}

.container{

	width: 90%;
	margin:0 auto;
	overflow: hidden;
	
	
}

.logo{
	margin-top: 18px;
	width: 12%;
	float: left;
	

}
.logo img{

	width: 80%;
}
.menu{
	margin-top: 7px;
	width: 85%;
	float: right;
	
}
.menu ul{
	float: right;

}
.menu ul li{
	
	text-transform: uppercase;
	list-style: none;
	float: left;
	
}
.menu ul li a{
	color: #626262;
	text-decoration: none;
	margin: 0 80px;
	display: inline-block;
}
.menu ul li:last-child a{
	margin-right:0; 

}
.menu ul li a:hover{
	transition: .3s ease;
	border-bottom: 1px solid black;
}

.b_img{
	width: 100%;
}

/**Header End**/

/**Diery Start**/

.perfect{
	padding: 60px 0;
}

.container2{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.p_wrapper{}
.c_p{
	font-family: 'Ubuntu', sans-serif;
	width: 80%
	font-weight: 300;
	color: #b4ad9e; 
	margin:0;
	text-transform: uppercase;
}
.c_h1{
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 400;
}
.c_text{
	margin-bottom: 40px;
	line-height: 25px;
	text-transform: uppercase;
}

/**Diery End**/

/**Service Start**/

.blog{
	padding: 60px 0;
}
.single{
	width: 47%;
	float: left;
}
.single:nth-child(even){
	margin-left: 6%;
}
.single img{
	width: 100%;
	margin-bottom: 50px;
}
/**Service End**/

/**News Start**/
.news{
	background-color: #f0f0f0;
	padding: 70px 0;
}

.sign{
	text-align: center;
}
.s_h1{
	color: #333333;
	margin-top: 0;
	margin-bottom: 70px; 
}
.s_form{
	width: 400px;
	margin: 0 auto;
	position: relative;
}
.sign input{
	font-family: 'Playfair Display', serif;
	color: #b4ad9e;
	font-size: 14px;
	width: 300px;
	height: 45px;
	border:none;
	border-bottom: 1px solid black;
	background-color: transparent;
	padding-left: 5px;
	padding-right: 65px; 
}
.sign input:focus{
	outline: none;
}
.sign button{
	position: absolute;
	background-color: transparent;
	border: none;
	cursor: pointer;
	top: 15px;
	right: 0;

}
..sign button:focus{
	outline: 0;
}
.sign button img{
	
}
/**News End**/